.container.pb-5 {
    position: relative;
    z-index: 5;
    margin-top: 60px;
    margin-bottom: 40px;
    background: rgba(10,15,25,.55);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 1px solid rgba(255,255,255,.08);
}
