@using Microsoft.AspNetCore.Http

<div class="sidebar-container">

    <!-- Logo -->
    <div class="sidebar-logo">

        <div class="logo-icon">
            ⚽
        </div>

        <div>
            <h4>UTN GOL</h4>
            <span>WORLD CUP</span>
        </div>

    </div>

    <!-- Usuario -->
    <div class="user-card">

        <div class="avatar">

            <i class="bi bi-person-fill"></i>

        </div>

        <div class="user-info">

            <h6>@Context.Session.GetString("UserName")</h6>

            <small>@Context.Session.GetString("Email")</small>

        </div>

    </div>

    <!-- Menú -->

    <ul class="sidebar-menu">

        <li>
            <a asp-controller="Home" asp-action="Index">
                <i class="bi bi-house-door-fill"></i>
                <span>Inicio</span>
            </a>
        </li>

        <li>
            <a asp-controller="Partidos" asp-action="Index">
                <i class="bi bi-calendar-event-fill"></i>
                <span>Calendario</span>
            </a>
        </li>

        <li>
            <a asp-controller="Estadisticas" asp-action="Index">
                <i class="bi bi-bar-chart-fill"></i>
                <span>Estadísticas</span>
            </a>
        </li>

        <li>
            <a asp-controller="Grupos" asp-action="Index">
                <i class="bi bi-grid-3x3-gap-fill"></i>
                <span>Grupos</span>
            </a>

        </li>

        <li class="mb-1">
            <a asp-controller="Predicciones"
               asp-action="Index"
               class="nav-link text-white">

                <i class="bi bi-bullseye me-2"></i>

                Mis Predicciones

            </a>
        </li>

        <li>
            <a asp-controller="Dashboard" asp-action="Index">
                <i class="bi bi-trophy-fill"></i>
                <span>Mi Panel</span>
            </a>
        </li>


    </ul>

    <!-- Footer -->

    <div class="sidebar-footer">

        <a asp-controller="Account"
           asp-action="Logout"
           class="logout-btn">

            <i class="bi bi-box-arrow-right"></i>

            Cerrar Sesión

        </a>

    </div>

</div>