<div class="gif-hero"></div>
<div class="dark-overlay"></div>

<div class="container-fluid">
    <h1 class="display-2 fw-bold text-white mb-5">FIFA 26 MUNDIAL UTNGOL</h1>
    <div class="row g-4">
        <div class="col-md-4">
            <a asp-controller="Calendario" asp-action="Index" class="text-decoration-none">
                <div class="flash-card"><h3>📅 Calendario</h3><p>Partidos y horarios.</p></div>
            </a>
        </div>
        <div class="col-md-4">
            <a asp-controller="Billetera" asp-action="Index" class="text-decoration-none">
                <div class="flash-card"><h3>💰 UTNGolCoin</h3><p>Gestión financiera.</p></div>
            </a>
        </div>
    </div>
</div>